version: '2'
services:
  {{ company_name }}_web:
    image: odoo
    container_name: "{{ company_name }}_odoo_web"
    depends_on:
      - {{ company_name }}_db
    ports:
      - "{{ cpy_port }}:8069"
    environment:
      - HOST={{ company_name }}_db
      - USER={{ db_user }}
      - PASSWORD={{ db_pass }}
      - PORT=5432
    volumes:
      - {{ company_name }}-web-data:/var/lib/odoo
      - /home/{{ ansible_user }}/odoo/o_config/{{ company_name }}.conf:/etc/odoo/odoo.conf
    networks:
      - {{ administrator }}-network

  {{ company_name }}_db:
    image: postgres:10
    container_name: {{ company_name }}_odoo_db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD={{ db_pass }}
      - POSTGRES_USER={{ db_user }}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - {{ company_name }}-db-data:/var/lib/postgresql/data/pgdata
    networks:
      - {{ administrator }}-network

networks:
  {{ administrator }}-network:

volumes:
  {{ company_name }}-web-data:
  {{ company_name }}-db-data:
