#Tasks of our roles
# - name: Install EPEL repo
#   package: 
#     name: "{{ item }}"
#     state: present
#   when: ansible_distribution == "CentOS"
#   loop:
#     - epel-release

# - name: install python-pip
#   package: 
#     name: python3-pip
#     state: present 

# - name: Install docker python
#   pip: 
#     name:
#       docker-py
#     executable: pip3

- name: create odoo_files
  file:
    path: "/home/{{ ansible_user }}/odoo/o_config/"
    recurse: yes
    state: directory

#///////////////////////1///////////////////////////

- name: set variable company_name for company 1
  set_fact:
    company_name: "{{ instance_1.name }}"
    db_user: "{{ instance_1.db_user }}"
    db_pass: "{{ instance_1.db_pass }}"
    cpy_port: "{{ instance_1.port }}"
  when: db_qty > 0

- name: generate odoo_config_file for company 1
  template:
    src: "odoo.conf.j2"
    dest: "/home/{{ ansible_user }}/odoo/o_config/{{ company_name }}.conf"
  when: db_qty > 0

- name: generate docker-compose_file for company 1
  template:
    src: "docker-compose.yml.j2"
    dest: "/home/{{ ansible_user }}/odoo/docker-compose.yml"
  when: db_qty > 0

- name: "Deploy apps for company 1"
  command: "docker-compose up -d"
  args:
    chdir: "/home/{{ ansible_user }}/odoo"
  when: db_qty > 0

#/////////////////////2////////////////////////////

- name: set variable company_name for company 2
  set_fact:
    company_name: "{{ instance_2.name }}"
    db_user: "{{ instance_2.db_user }}"
    db_pass: "{{ instance_2.db_pass }}"
    cpy_port: "{{ instance_2.port }}"
  when: db_qty > 1

- name: generate odoo_config_file for company 2
  template:
    src: "odoo.conf.j2"
    dest: "/home/{{ ansible_user }}/odoo/o_config/{{ company_name }}.conf"
  when: db_qty > 1

- name: generate docker-compose_file for company 2
  template:
    src: "docker-compose.yml.j2"
    dest: "/home/{{ ansible_user }}/odoo/docker-compose.yml"
  when: db_qty > 1

- name: "Deploy apps for company 2"
  command: "docker-compose up -d"
  args:
    chdir: "/home/{{ ansible_user }}/odoo"
  when: db_qty > 1

#/////////////////////3////////////////////////////

- name: set variables for company 3 
  set_fact:
    company_name: "{{ instance_3.name }}"
    db_user: "{{ instance_3.db_user }}"
    db_pass: "{{ instance_3.db_pass }}"
    cpy_port: "{{ instance_3.port }}"
  when: db_qty > 2

- name: generate odoo_config_file for company 3
  template:
    src: "odoo.conf.j2"
    dest: "/home/{{ ansible_user }}/odoo/o_config/{{ company_name }}.conf"
  when: db_qty > 2

- name: generate docker-compose_file for company 3
  template:
    src: "docker-compose.yml.j2"
    dest: "/home/{{ ansible_user }}/odoo/docker-compose.yml"
  when: db_qty > 2

- name: "Deploy apps for company 3"
  command: "docker-compose up -d"
  args:
    chdir: "/home/{{ ansible_user }}/odoo"
  when: db_qty > 2